In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Import position data for Matlab

In [44]:
Mdata_p = pd.read_csv("jitter_get_P.csv",header=None)
Mdata_pv = pd.read_csv("jitter_get_PV.csv",header=None)
Mdata_pvf = pd.read_csv("jitter_get_PVF.csv",header=None)
Mdata_pvfb = pd.read_csv("jitter_get_PVFBias.csv",header=None)

In [52]:
df = pd.DataFrame({ 'pos' : [Mdata_p],
                    'pos/vel' : [Mdata_pv],
                    'pos/vel/force' : [Mdata_pvf],
                    'pos/vel/force/Bias' : [Mdata_pvfb],
    
})

In [55]:
df

,pos,pos/vel,pos/vel/force,pos/vel/force/Bias
0,pos 0 0.004862 1 0.000600 2 0.0...,0 0 0.008252 1 0.001308 2 0.0...,0 0 0.012306 1 0.002002 2 0.0...,0 0 0.017197 1 0.002959 2 0.0...

         pos
0   0.004862
1   0.000600
2   0.000545
3   0.000638
4   0.000548
..       ...
94  0.000620
95  0.000499
96  0.000495
97  0.000500
98  0.000522

[99 rows x 1 columns]

     pos/vel
0   0.008252
1   0.001308
2   0.001194
3   0.001362
4   0.001302
..       ...
94  0.001000
95  0.001116
96  0.001091
97  0.001192
98  0.000990

[99 rows x 1 columns]

In [29]:
Mdata_pvf = pd.read_csv("jitter_get_PVF.csv",header=None)

Mdata_pvf.clumns = ["pos/vel/force"]

    pos/vel/force
0        0.012306
1        0.002002
2        0.001777
3        0.001619
4        0.001784
..            ...
94       0.001431
95       0.001594
96       0.001345
97       0.001456
98       0.001581

[99 rows x 1 columns]

In [31]:
Mdata_pvfb = pd.read_csv("jitter_get_PVFBias.csv",header=None)

Mdata_pvfb.columns = ["pos/vel/force/bias"]

In [32]:
Mdata_pvfb

    pos/vel/force/bias
0             0.017197
1             0.002959
2             0.002569
3             0.002394
4             0.002379
..                 ...
94            0.002460
95            0.002379
96            0.002448
97            0.002483
98            0.002442

[99 rows x 1 columns]