In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Import position data for Matlab

In [28]:
matlab_data_p = pd.read_csv("jitter_get_P.csv",header=None)
matlab_data_pv = pd.read_csv("jitter_get_PV.csv",header=None)
matlab_data_p.columns = ["pos"]
matlab_data_pv
.columns = ["pos/vel"]

In [27]:
matlab_data_p

        Time
0   0.413710
1   0.000898
2   0.000643
3   0.000614
4   0.000522
..       ...
94  0.000465
95  0.000488
96  0.000467
97  0.000503
98  0.000511

[99 rows x 1 columns]